@font-face {
    font-family: 'Louis';
    src: url(Louis\ George\ Cafe.ttf);
}
*{
    font-family: 'Louis';
}
header{
    display: flex;
    justify-content: space-between;
}
nav ul{
    display: flex;
}
nav ul li{
    padding: 8px;
    margin: 8px;
    list-style: none;
    font-size: 1.5rem;
    transition: .2s;
}
nav ul li:hover{
    color: rgb(5, 103, 136);
    transition: .2s;
    cursor: pointer;
}